.container{
  display: flex;
}
.sidebar{
  width: 25vw;
  height: 100vh;
  display: inline-block;
  background-color: lightblue;
  border-right: 2px solid black;
}
.controls,.info{
  padding: 3px 0;
  height: 30%;
  font-weight: 800;
  background-color: blueviolet;
}
.info{
  height: 70%;
}
.head{
  margin: 3px 0;
  width: 98%;
  height: auto;
  background-color: grey;
  text-align: center;
  font-size: larger;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;

}
.cntrl-btn{
  margin: 15px 30px;
  font-size: small;
}
.info-data{
  margin: 15px 30px;
  font-weight: 400;
}
.book{
   width: 75vw;
   height: 100vh;
   display: flex;
   justify-content: center;
}
.diaryContainer{
  width: 160px;
  height: 120px;
  margin: 14% 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.diaryContainer img{
  position: absolute;
  top: 14%; left: 0;
  width: auto;  
  z-index: 1;
  overflow: hidden;
}

.diaryImage{
  animation: 1.4s diaryAnimation infinite 0s steps(12,end);
}
@keyframes diaryAnimation {
  0% {transform: translateY(0);}
  100% {transform: translateY(-100%);}
}
@keyframes dragDown {
  0% {transform: translateY(0);}
  100% {transform: translateY(100%);}
}
.entry-box{
  left: 40%;
  position: absolute;
  height: 30vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(pink,yellow);
  animation: 0.5s dragDown 1 0s linear forwards;
  border: 1px solid black;
}
input{
  width: 95%;
  height: 30px;
}
.form-btns{
  width: auto;
  height: auto;
}
.btnn{
  margin: 0 10px;
  height: 35px;
  width: 65px;
}
#btn-1{
  background-color: rgba(224, 37, 37, 0.829);
}
#btn-1:hover{
  background-color: red;
}
#btn-2{
  background-color: rgba(128, 0, 128,0.8)
}
#btn-2:hover{
  background-color: rgba(128, 0, 128,1)
}
.entry-box .form-btns{
  position: absolute;
  bottom: 0;
  right: 0;
}
.login-cont{
  margin: 100px 0;
  height: 50vh;
  width: 70vw;
  background-image: linear-gradient(white,pink,purple,pink,white);
}
.namebox,.passwordbox,.emailbox{
  font-weight: 600;
  height: auto;
}
